body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #ffffff;
  color: #333;
  line-height: 1.6;
  padding-top: 60px;
}

.nav {
  background-color: #2196F3;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}

.reading-container {
  width: 98vw;
  height: 110vh;
  .chapter-navigation-big {
    width: 150vh;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
  }

  .chapter-navigation {
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 1000px;
    width: 90%;

    button {
      padding: 8px 16px;
      font-size: 16px;
      cursor: pointer;
      border: none;
      border-radius: 25px;
      background: rgba(0, 0, 0, 0.8);
      color: white;
      transition: background-color 0.3s, transform 0.3s;

      &:hover {
        background: rgba(0, 0, 0, 0.9);
        transform: scale(1.05);
      }
    }

    select {
      padding: 10px 20px;
      border-radius: 25px;
      border: 1px solid black;
      font-weight: bold;
      font-size: 16px;
      cursor: pointer;
      background: white;
      color: Black ;
      transition: border-color 0.3s, color 0.3s;

      &:hover {
        border-color: #1976D2;
        color: black ;
      }
    }
  }

  .chapter-title {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    color: #333;
  }

  .chapter-image-gallery {
    border-radius: 25px;
    max-height: 800px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);

    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    max-width: 1000px;
    padding-right: 10px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    img {
      max-width: 100%;
      height: auto;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  }

  .chapter-content {
    padding: 20px;
    background-color: #f5f5f5;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
   
  }

}

@media (max-width: 768px) {
  .reading-container {
    .chapter-navigation {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  }
}

@media (max-width: 480px) {
  nav {
    padding: 10px 15px;
  }

  .reading-container {
    .chapter-navigation button,
    .chapter-navigation select {
      width: 100%;
      font-size: 14px;
    }

    .chapter-image-gallery {
      max-height: 400px;
    }
  }
}
