.category-navbar{
  .category-list-navbar {
    margin-top: 20px;
    padding: 24px;
    background: white;
    border-radius: 10px;
    color: black;
    font-family: 'Segoe UI', sans-serif;
    transition: background 0.3s ease, color 0.3s ease;
    backdrop-filter: blur(10px);
    box-shadow:
            -4px 0 8px rgba(0, 0, 0, 0.3),
            4px 0 8px rgba(0, 0, 0, 0.3),
            0  4px 12px rgba(0, 0, 0, 0.3);

    &.scrolled {
      background: rgba(0, 0, 0, 0.9);
      backdrop-filter: blur(10px);
      color: white;

      .category-item {
        background-color: rgba(255, 255, 255, 0.1);
        color: white;

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }

      .more-btn {
        background-color: #007bff;
        color: white;

        &:hover {
          background-color: #0056b3;
        }
      }

      .category-dropdown {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }

    .section-title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 16px;
      text-align: left;
    }


    .category-item {
      padding: 10px;
      border-radius: 8px;
      border: none;
      background-color: white;
      color: black;
      font-size: 14px;
      text-align: center;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.2s ease;
      min-height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        transform: translateY(-2px);
      }
    }

    .more-btn {
      background-color:dodgerblue;
      color: white;
      font-weight: bold;

      &:hover {
        background-color: #0056b3;
      }
    }

    .category-dropdown {
      margin-top: 16px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 12px;
      background: white;
      padding: 20px;
      width: 100%;
    }

    @media (max-width: 768px) {
      .category-dropdown {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
