.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: -7.7px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  &.scrolled {
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(10px);

    a,
    .navbar_menu li,
    .dropdown-item {
      color: white !important;
    }

    .search-container {
      background: #333;

      input {
        color: white;

        &::placeholder {
          color: #ccc;
        }
      }

      .search-icon {
        color: white;
      }
    }

    .avatar {
      border-color: white;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    padding: 10px 20px;
    width: 100%;

    .logo {
      width: 100px;
      cursor: pointer;
      margin-right: 20px;
    }

    .navbar_menu {
      display: flex;
      align-items: center;
      list-style: none;
      margin-left: 0;
      .menu-item{
        text-decoration: none;
        color: #000;
      }
      .menu-item:hover {
        transform: translateY(-2px);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }

      li {
        margin: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        position: relative;
        transition: color 0.3s ease-in-out;
        color: black;
      }

      .category-wrapper-navbar {
        position: relative;

        .category_menu {
          position: absolute;
          left: 0;
          width: 70vw;
          opacity: 0;
          visibility: hidden;
          pointer-events: none;
          transform: translateY(10px);
          transition: all 0.5s ease;
          z-index: 1000;

          &.show {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            top: 150%;
            pointer-events: auto;
          }
        }

        &:hover .category_menu {
          opacity: 1;
          visibility: visible;
          top: 100%;
          transform: translateY(0);
        }
      }
    }

    .search-container {
      display: flex;
      align-items: center;
      position: relative;
      background: #f3f4f6;
      border-radius: 20px;
      padding: 4px 10px;
      margin-left: auto;
      margin-right: 40px;

      input {
        background: transparent;
        border: none;
        color: #999999;
        font-size: 14px;
        max-width: 200px;
        padding: 6px 8px;
        outline: none;

        &:focus {
          width: 300px;
          border-color: #ffcc00;
        }
      }

      .search-icon {
        margin-left: -20px;
        cursor: pointer;
        color: gray;
        font-size: 16px;
      }

      .search-dropdown {
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        background: white;
        border: 1px solid #ccc;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        z-index: 100;

        p {
          padding: 10px;
          background: #f8f9fa;
          font-weight: bold;
          margin: 0;
          color: black;
        }

        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            padding: 8px 12px;
            cursor: pointer;

            &:hover {
              background: #e9ecef;
            }
          }
        }
      }
    }

    .user-actions {
      display: flex;
      align-items: center;
      position: relative;
      margin-right: -150px;

      .avatar-wrapper {
        position: relative;

        .avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 2px solid #ccc;
          margin-right: 10px;
          cursor: pointer;
        }

        .dropdown {
          opacity: 0;
          visibility: hidden;
          pointer-events: none;
          position: absolute;
          top: 110%;
          right: 0;
          min-width: 150px;
          background: white;
          border: 1px solid #ddd;
          border-radius: 10px;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
          flex-direction: column;
          z-index: 1000;
          animation: fadeOut 0.3s ease forwards;

          &.show {
            animation: fadeIn 0.3s ease forwards;
            visibility: visible;
            pointer-events: auto;
          }

          .dropdown-item {
            padding: 10px;
            color: #333;
            cursor: pointer;
            border-bottom: 1px solid #eee;
            border-radius: 10px;

            &:hover {
              background-color: #f3f3f3;
            }
          }
        }

        &:hover .dropdown {
          opacity: 1;
          transform: translateY(0);
          pointer-events: auto;
          display: flex;
        }

        @keyframes fadeIn {
          from {
            opacity: 0;
            transform: translateY(10px);
          }
          to {
            opacity: 1;
            transform: translateY(0);
          }
        }

        @keyframes fadeOut {
          from {
            opacity: 1;
            transform: translateY(0);
          }
          to {
            opacity: 0;
            transform: translateY(10px);
          }
        }
      }

      .buttons {
        display: flex;
        gap: 10px;

        .login-btn,
        .signup-btn {
          padding: 10px 20px;
          font-size: 1rem;
          font-family: Arial, Helvetica, sans-serif;
          border-radius: 8px;
          width: 120px;
          text-align: center;
          cursor: pointer;
          transition: all 0.3s;
        }
        .login-btn {
          background: #e75480;
          color: white;
          border: 2px solid transparent;

          &:hover {
            background: #c7436e;
          }
        }

        .signup-btn {
          background: #e75480;
          color: white;
          border: 2px solid transparent;

          &:hover {
            background: #c7436e;
          }
        }
      }
    }
  }
}
