.welcome-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  background: url('../../assets/background.jpg') no-repeat center center/cover;
  color: white;
  text-align: center;
  padding: 20px;

  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  .welcome-content {
    max-width: 600px;
    text-align: center;
    margin-top: -300px;
    font-family: cursive;
    font-style: italic;

    h1 {
      font-size: 50px;
      font-weight: bold;
      margin-bottom: 25px;
      span {
        color: #6A0DAD;
      }
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 30px;

    }

    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .login-btn, .signup-btn {
        padding: 10px 20px;
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        border-radius: 8px;
        text-decoration: none;
        width: 120px;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s;
      }

      .login-btn {
        background-color: rgba(255, 255, 255, 0.2);
        color: white;
        border: 2px solid rgba(255, 255, 255, 0.5);
        transition: 0.3s;
        &:hover {
          background-color: rgba(255, 255, 255, 0.4);
        }
      }

      .signup-btn {
        background-color: #E75480;
        color: white;
        border: 2px solid transparent;
        transition: background-color 0.3s ease-in-out;
        &:hover {
          background-color: #C7436E;
        }
      }
    }
  }

}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modal-content {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 450px;
  height: auto;
  position: relative;
}
.close-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;

  .close-icon {
    color: white;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  &:hover .close-icon {
    color: white;
  }
}