@use '../mixins' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.container-big {
  height: 700px;
  margin: auto;
}

@media (max-width: 768px) {
  .container-all,
  .container {
    width: 100%;
    margin: auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include respond(md) {
      flex-direction: column;
      gap: 10px;
    }
  }


  .header {
    display: flex;
    align-items: center;
    background: #272B2D;
    padding: 10px;
    color: white;
  }
}



