@use '../mixins' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.manga-section {

  flex-direction: column;
  align-items: center;
  width: 100%;

  padding: 0 20px;

  @include respond(xl) {
    flex-wrap: wrap;
    gap: 20px;
  }
}


.arrow1 {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #47596b;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;

  &:hover {
    background-color: #f2f2f2;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
}

.text-gray{
  color: #555;
  font-weight: bold;
  font-size: 20px;
  margin: 40px 0;


}


.line-sort {
  width: 90%;
  height: 1px;
  background-color: #555;
  margin: 20px;
}

.title2 {
  font-size: 24px;
  font-weight: bold;

  span {
    font-size: 14px;
    color: gray;
  }
}
.container2 {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: nowrap;
  text-align: center;
  align-items: center;
}

.manga-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 1200px;

}


.comic2 {
  width: 250px;
  height: 400px;
  padding: 10px;
  background-color: #ffff;
  text-align: center;
  transition: transform 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 15px;

  @include respond(xl) {
    width: 30%;
  }

  @include respond(md) {
    width: 45%;
  }

  @include respond(sm) {
    width: 100%;
  }

  &:hover {
    transform: scale(1.05);
  }

  img {
    height: 300px;
    width: 100%;
    border-radius: 10px;
  }
}

.name2 {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}

.sales2 {
  font-size: 14px;
  color: gray;

  span {
    font-weight: bold;
    color: red;
  }
}
